<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title> Save A Message </title>
</head>

<body>
    <header>
        <h1>Welcome to Save A Message</h1>
        <ul class="navbar">
            <li class="nav-items"><a href="/">Home</a></li>
            <li class="nav-items"><a href="/about">About</a></li>
        {% if session.get('user_id') %}
            <li class="nav-items"><a href="/logout">Logout</a></li>
        {% else %}
            <li class="nav-items"><a href="/login">Login</a></li>   
            <li class="nav-items"><a href="/signup">Signup</a></li> 
        {% endif %}
        </ul>
    </header>

    <main class="sections">
        {% block content %} {% endblock content %}
    </main>

    <footer>
        <section class="Footer_Sections">
            <div class="Acknowledgement_Of_Country">
                <h4>Acknowledgement:</h4>
                <p> We acknowledge the Traditional Owners of Country on the lands on which we live, walk and work. </br>
                We pay our respect to First Nations peoples, their cultures and Elders throughout this nation - past, present and future. </br> 
                <span>We recognize and acknowledge that sovereignty was never ceded. </span></br>
                We acknowledge the continuation of cultural, spiritual and educational practices of First Nation peoples and their connection to lands, waters and communities.
            </p>
            </div>
        </section>
        <section class="Country_Acknowledgment">
            <div class="Acknowledgement">
                <p> This website was created on <span>Wiradjuri Country.</span></p>
            </div>
        </section>
    </br>
        <section class="Quote">
            <div class="Inspirational_Quote"><h4>Quote:</h4></div>
            <quote>
                <span>“The important thing is not to stop questioning. Curiosity has its own reason for existence. One cannot help but be in awe when he contemplates the mysteries of eternity, of life, of the marvelous structure of reality. It is enough if one tries merely to comprehend a little of this mystery every day. Never lose a holy curiosity.”</span> — Albert Einstein</quote>
        </section>
        <div class="Website_Creator">
            <p>Website created by <span>Kyra</span></p>
        </div>
    </footer>
    </body>
</html>
