<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ... </title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <h1>Welcome</h1>
        <ul class="navbar">
            <li class="nav-items"><a href="/">Home</a></li>
            <li class="nav-items"><a href="/about">About</a></li>
        {% if session.get('user_id') %}
            <li class="nav-items"><a href="/logout">Logout</a></li>
        {% else %}
            <li class="nav-items"><a href="/login">Login</a></li>   
            <li class="nav-items"><a href="/signup">Signup</a></li> 
        {% endif %}
        </ul>
    </header>

</body>
    <main class="sections">
        {% block content %} {% endblock content %}
    </main>

    <footer>
        <section>
        <div class="Acknowledgement_Of_Country">
            <h4>Acknowledgement</h4>
            <p> We acknowledge the Traditional Owners of Country on the lands on which we live, walk and work. </br>
                We pay our respect to First Nations peoples, their cultures and to our Elders throughout this nation - past, present and future. </br> 
                <span>We recognize and acknowledge that sovereignty was never ceded. </span></br>
                We acknowledge the continuation of cultural, spiritual and educational practices of First Nation peoples and their connection to lands, waters and communities.
            </p>
        </div>
        </section>
        <section>
            <div class="Acknowledgement">
                <p> This website was created on Wiradjuri Country.</p>
            </div>
        </section>
        <!-- <quote>'quote'</quote>
        <section>
            <ul>
            </ul>
        </section> -->
    </footer>
</html>