<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ... </title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <h1>Welcome</h1>
        <nav> 
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        </nav>
    </header>

</body>
    <main class="sections">
        {% block content %} {% endblock content %}
    </main>
    <footer>
        <section>
        <div class="Acknowledgement_Of_Country">
            <h4>Acknowledgement</h4>
            <p> We acknowledge the Traditional Owners of Country on the lands on which we live, walk and work. </br>
                We pay our respect to First Nations peoples, their cultures and to our Elders throughout this nation - past, present and future. </br> 
                <span>We recognize and acknowledge that sovereignty was never ceded. </span></br>
                We acknowledge the continuation of cultural, spiritual and educational practices of First Nation peoples and their connection to lands, waters and communities.
            </p>
        </div>
        </section>
        <section>
            <div class="Acknowledgement">
                <p> This website was created on Wiradjuri Country.</p>
            </div>
        </section>
        <quote>" "</quote>
    </footer>
</html>