{% extends 'base.html' %}
{% block content %}

<!-- edit message -->
<form action="/messages/{{ message['id'] }}" method="POST">
    <div className="edit_single_msg">
        <h2>Edit Message</h2>
        <label for="message">Edit</label>
        <input id="message" name="message" type="text" value="{{ message.get('message') }}"/>
    </div>
    <div class="button">
        <button type="submit">Submit</button>
    </div>
</form>

<!-- delete message -->
<form action="/messages/{{ message['id'] }}/delete" method="POST">
    <button type="submit">Delete</button>
</form>

{% endblock content %}